.order-list-padding {
  padding: 20px 16px !important;
}

.ml--40 {
  margin-left: -40px !important;
}

.btn_danger {
  background-color: #dc3545;
}

.btn_danger:hover {
  background-color: #dc3545;
}

.btn-cancel {
  margin-top: -1px;
}

.label {
  display: inline-block;
  padding: 8px;

  font-weight: 600;
  color: white;
  border-radius: 4px;
}

.label.label-danger {
  background-color: rgb(220, 53, 69);
}

.label.label-warning {
  background-color: rgb(240, 173, 78);
}

.label.label-success {
  background-color: rgb(92, 184, 92);
}

.label.label-info {
  background-color: rgb(23, 162, 184);
}

.label.label-primary {
  background-color: rgb(0, 123, 255);
}

.text-center {
  text-align: center !important;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.4rem;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}

.align-right {
  text-align: right !important;
}
